.footer{
    padding-top:80px ;
    background: #002147 none repeat scroll 0 0;
    .top{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 60px;
        
        .section{
            display:flex;
            justify-content: space-evenly;
            .sec1{
                padding-right: 30px;
                padding-left: 30px;
                max-width: 390px;
                .img1{
                    img{
                        margin-bottom: 30px;
                    }
                }
                
                p,i{
                        color: #cccccc;
                        line-height: 26px;
                        margin: 0 0 15px;
                        text-transform: none;
                        font-weight: 400;
                        font-size: 14px;
                }
                .sec12{
                    width: 100%;
                    margin-top: 20px;
                    form{
                        
                        background: transparent none repeat scroll 0 0;
                        border: medium none;
                        
                        .e{
                            
                            border-radius: 30px !important;
                            box-shadow: inherit;
                            padding: 0 20px;
                            width:240px;
                            height: 40px;

                            border: 1px solid rgba(255, 255, 255, 0.1);
                        }
                        button{
                            background: #ffffff none repeat scroll 0 0;
                            border: medium none;
                            
                            border-radius: 30px;
                            color: #ffb606;
                            font-size: 20px;
                            min-height: 40px;
                            padding: 0 30px;
                            
                            
                            z-index: 9;
                        }
                    }
                }
                

            }
            .sec2{
                padding-left: 15px;
                padding-right: 30px;
                ul{
                    h2{
                        //float: left;
                        margin-bottom: 30px;
                        color:white;
                        font-size: 20px;
                    }
                    li{
                        
                        margin-bottom: 22px;
                        list-style-type: unset !important;
                        color:#cccccc;
                            a{
                                font-size: 14px;
                            
                            color: #cccccc;
                            display: inline-block;
                            font-weight: 400;
                            padding-left: 15px;
                            }
                    }
                }
            }
            .sec3{
                width: 400px;
                h2{
                    color:white;
                    font-size: 18px;
                    margin-bottom: 30px;
                }
                .ex{
                    display:flex;
                    flex-direction: column;
                    //margin-bottom: 15px;
                    .help{
                        display: flex;
                        
                        .symbol{
                            border: 1px solid rgba(255, 255, 255, 0.1);
                            color: #ffffff;
                            height: 50px;
                            text-align: center;
                            width: 50px;
                            .mdi{
                            font-size: 25px;
                            }
                            margin-bottom: 10px;
                            padding-top: 13px;
                            margin-right: 10px;
                            

                        }
                        div{
                            color:#cccccc;
                            font-size: 14px;
                            margin-bottom: 15px;
                            //padding-top: 2px;
                        }
                    }
                }
                .opening{
                    border-top: 1px dashed rgba(255, 255, 255, 0.1);
                    color: #cccccc;
                    margin-top: 20px;
                    padding-top: 20px;
                    h5{
                        color: white;
                        margin-bottom: 15px;
                        font-weight: 500;
                        font-size: 14px;
                    }
                    ul{
                        li{
                            margin-bottom: 20px;
                            padding-bottom: 20px;
                            border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
                            
                            color: #cccccc;
                            span{
                               
                            }
                            .right{
                                
                                float: right;
                            }
                        }

                    }
                }

            }
        }
    }
    .bottom{
        padding-top: 20px;
        padding-bottom: 20px;
        background: #03173d none repeat scroll 0 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        .container{
            display: flex;
            justify-content: space-between;
            margin-left: 80px;
            margin-right: 80px;
            .part1{
                margin-right: 40px;
                p{
                    color: #ffffff;
                    margin: 0;
                    text-transform: capitalize;
                    line-height: 40px;
                    font-size: 14px;
                    a{
                        color: #ffb606;
                        text-transform: capitalize;
                        font-weight: 600;
                    }
                }
            }
            .part2{
                align-self: center;
                ul{
                    display: flex;
                    color:white;
                    
                    li{
                        font-size: 14px;
                        margin-right: 10px;
                        font-weight: 400;
                    }
                }
            }
        }
        

        

    }
}

@media only screen and (max-width:1140px){
    .footer{
        .top{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media only screen and (max-width:1000px){
    .footer{
        .top{
            padding-left: 40px;
            padding-right: 40px;
           .section{
               
               flex-direction: column;
               .sec1{
                   
                   max-width:100%;
                   margin-bottom: 30px;
                   .sec12{
                       form{
                           .e{
                               width:80%;
                           }
                       }
                   }
               }
               .sec2{
                padding:40px;
                padding-bottom: 0px;
                   margin-bottom: 30px;
               }
               .sec3{
                padding:30px;
                width: 100%;
               }
           }
        }
    }
}


@media only screen and (max-width:880px)
{
    .footer{
        .bottom{
            .container{
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
}


@media only screen and (max-width:600px)
{
    .footer{
        .bottom{
            .container{
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
}